<div class="card" style="background-color: black/*#900000*/; text-decoration-color: white">
  <h5 class="card-header" style="color: white">Contact Info</h5>
  <div class="card-body">
    <h5 class="card-title" style="color: white">Training and Placement Department</h5>
     <!-- <h5 class="card-title">Delhi Technological University</h5> -->
    <p class="card-text" style="color: white">Delhi Technological University,</p>
	<p class="card-text" style="color: white">Shahbad Daulatpur,</p>
	<p class="card-text" style="color: white">Bhawana Road,</p>
	<p class="card-text" style="color: white">Delhi- 110042</p>
	<p class="card-text" style="color: white">INDIA</p>
	<p class="card-text" style="color: white">Phone: 011-27871421</p>
	<p class="card-text" style="color: white">Email : placements@dtu.ac.in</p>
    <a href="/message" class="btn btn-primary">Leave a message</a>
  </div>
</div>      
    </body>
</html>
