<% include ../partials/header %>

<div class="container">
    <div><p>For more more details You can download the information brochure <a href="http://tnp.dtu.ac.in/Brochure/Placement_Brochure_2018-19.pdf">here</a></p></div>

    <br>
    <br>

    <div>
        <h1 style="text-align: center;">List of Companies Visiting the Campus</h1>

        <div class="container">
            <br>
            <img style="margin-left: 160px;" src="https://img.collegepravesh.com/2014/09/Past-Recruiters.png">
            <br>
        </div>
        <br>
        <br>
        <br>
        <br>

        <h1 style="text-align: center;">Sector Wise Distribution of Students Placed</h1>

         <div class="container">
            <br>
            <img style="margin-left: 160px;" src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/07/sector-wise-distribution.png">
            <br>
        </div>

        <br>
        <br>

        <h1 style="text-align: center;">Sector Wise Distribution of Companies Visited</h1>

         <div class="container">
            <br>
            <img style="margin-left: 160px;" src="https://d2cyt36b7wnvt9.cloudfront.net/exams/wp-content/uploads/2015/07/companies-visited.png">
            <br>
        </div>

     <!--    <div class="container" style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">    
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">    
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!!</button>    
                </div>                
            </form>
             <a href="/campgrounds">Go Back</a>
        </div> -->
           
    </div>
</div>

<% include ../partials/footer %>

